{% extends 'cismp/base.html' %}

{% block content %}
<div class='home-inner'>
    <h1>Certificate in Information Security Management Principles Practise</h1>
    <!--
    <div>        
        <h2>PCEP | 
            PCAP | 
            <a class = 'active' alt = 'Certified Professional in Python Programming 1' href = '' >PPCP1</a> | 
            PPCP2
        </h2>
    </div>
    -->
    <div class = 'certification-container'>
        <a href='cismp/random/' target="_blank">
            <div class = 'module-container'>All CISMP Modules</div>
        </a>
        
        <a>
            <div class = 'inactive-container'>Module 1:<br>Information Security Principles (under development)</div>
        </a>

        <a>
            <div class = 'inactive-container'>Module 2:<br>Information risk (under development)</div>
        </a>

        <a href='cismp/information_security_frameworks' target="_blank">
            <div class = 'module-container'>Module 3:<br>Information Security Framework</div>
        </a>

        <a href='cismp/security_life_cycles' target="_blank">
            <div class = 'module-container'>Module 4:<br>Security Life Cycles</div>
        </a>

        <a href='cismp/procedural_and_people_security_controls' target="_blank">
            <div class = 'module-container'>Module 5:<br>Procedural and People Security Controls</div>
        </a>

        <a>
        <!--<a href='cismp/technical_security_controls' target="_blank">-->
            <div class = 'inactive-container'>Module 6:<br>Technical Security Controls</div>
        </a>
        <a>
        <!--<a href='cismp/physical_and_environments_security' target="_blank">-->
            <div class = 'inactive-container'>Module 7:<br>Physical and Environments Security</div>
        </a>
        <a>
        <!--<a href='cismp/disaster_recovery_and_business_continuity_management' target="_blank">-->
            <div class = 'inactive-container'>Module 8:<br>Disaster Recovery and Business Continuity Management</div>
        </a>
        <a>
        <!--<a href='cismp/cryptography' target="_blank">-->
            <div class = 'inactive-container'>Module 9:<br>Cryptography</div>
        </a>   
    </div>
    
    
    <div class =  'introduction'>
        <div>This resource provides practise questions for the CISMP exam.</div>
        <div>Features:</div>
        <ul>
            <li>Full, timed tests</li>
            <li>Practise individual modules</li>
            <li>Unlimited sessions</li>
            <li>Instant feedback</li>
            <li>Speed and accuracy feedback</li>
        </ul>
    </div>
    
</div>


{% endblock %}